.resumeMain {
  display: flex;
  flex-direction: column;
}

.resumeDiv {
  background-color: white;
  margin: 20px;
  border-radius: 5px;
}

.resumeDiv_Header {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
}
.resumeDiv_Header_Left {
  width: 60%;
  text-align: left;
  align-self: flex-start;
}

.resumeDiv_Header_Right {
  width: 40%;
  text-align: right;
  align-self: flex-end;
}

.resumeDiv_Header_P1 {
  color: var(--primary-color);
  margin-left: 24px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 2px;
}

.resumeDiv_Header_P2 {
  margin-left: 24px;
  text-transform: capitalize;
  color: unset;
}

.resumeDiv_Intro {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
}
.resumeDiv_Intro_Left {
  width: 20%;
  align-self: flex-start;
  justify-content: center;
}

.resumeDiv_Intro_Right {
  width: 80%;
  text-align: left;
  align-self: flex-end;
}

.resumeDiv_Wrk {
  display: flex;
  flex-direction: column;
}

.resumeDiv_Wrk_01 {
  text-align: left;
  margin-left: 24px;
  margin-top: 10px;
}

.resumeDiv_Wrk_02 {
  text-align: left;
  margin-left: 24px;
  margin-top: 10px;
}

.resumeDiv_Wrk_01_P1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
}

.resumeDiv_Wrk_01_P2 {
  font-size: 1rem;
}

.resumeDiv_Skl {
  display: flex;
  flex-direction: column;
}
.resumeDiv_Skl_01 {
  text-align: left;
  margin-left: 24px;
  margin-top: 10px;
}

@media (max-width: 640px) {
  .resumeDiv_Header {
    flex-direction: column;
  }
  .resumeDiv_Header_Left {
    width: 100%;
    text-align: center;
  }

  .resumeDiv_Header_Right {
    width: 100%;
    text-align: center;
  }
  .resumeDiv_Intro {
    flex-direction: column;
  }
  .resumeDiv_Intro_Left {
    width: 100%;
    text-align: center;
  }

  .resumeDiv_Intro_Right {
    width: 100%;
    text-align: center;
  }
}
